@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  // &.no-scroll {
  //   height: 100%;
  //   overflow: hidden;
  // }
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
  font-family: $second-font;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: unset;
}
img {
  display: block;
  max-width: 100%;
}

.text {
  font-size: var(--small-fz);
  font-family: $second-font;
  color: var(--second-color);
  line-height: calc(var(--small-fz) + 10px);
}

.bg-primary {
  background: var(--silver-color);
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--smaller-fz);
  font-weight: 600;
  background: var(--black-color);
  color: var(--white-color);
  border: none;
  outline: none;
  transition: .3s ease;
  &:hover {
    background: var(--primary-color);
  }
}

.main {
  overflow: hidden;
}

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:0 10px;
  margin-top: 40px;
}
.owl-dot {
  width: 6px;
  height: 6px;
  outline: none !important;
  border-radius: 100%;
  transition: .4s linear;
  
  &.active {
      transform: scale(1.7);
  }
}