.footer {
    padding: 30px 0;
    text-align: center;
    background: var(--linear-color);
    &-links {
        display: flex;
        gap: 0 10px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    &-link {
        display: inline-block;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover i {
            color: var(--white-color);
        }
        i {
            color: var(--second-color);
            font-size: var(--small-fz);
            transition: all 0.3s ease;
        }
    }
    &-copy {
        font-size: var(--smaller-fz);
        font-family: $second-font;
        color: var(--second-color);
    }
}